* {
	/*outline: 1px dotted red;*/
	margin: -2px;
}
html {
	width: 100%;
}
div#world {
	padding-top: 25px;
	width: 480px;
	height: 500px;
	margin: 0 auto;
}
div.ground {
	width: 50px;
	height: 50px;
	background-color: black;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
div.coin {
	width: 20px;
	height: 20px;
	background-color: silver;
	border-radius: 50%;
	display: inline-block;
	margin-top: 16px;
}

img.pacman {
	width: 40px;
	height: 40px;
	padding: 5px;
	background-color: black;
	display: inline-block;
}

img.wall {
	width: 50px;
	height: 50px;
	background-color: black;
	display: inline-block;
}